<div class="outer">
    <div class="wrapper_sign">
        <div>
            <h1>Sign in</h1>
            <div class="position-top">
                <form>
                    {{{ inputLogin }}}
                    {{{ inputPassword }}}
                </form>
            </div>
        </div>
        <div>
            {{{ btnSignIn }}}
            {{{ btnSignUp }}}
        </div>
    </div>
</div>